VITE_BASE_URL=http://192.168.1.25:3004

# Test the API:
# curl http://localhost:8000/auth/v1/
VITE_SUPABASE_URL=http://192.168.1.26:8000/

# Authenticated key
VITE_SUPABASE_ANON_KEY=my_secret_key

# Very secret => not NEXT_PUBLIC !
VITE_SUPABASE_SERVICE_KEY=my_more_secret_key

VITE_SMTP_HOST=smtp-pulse.com
VITE_SMTP_PORT=465
VITE_SMTP_USER=my_user
VITE_SMTP_PASSWORD=my_password


# Test
VITE_STRIPE_PUBLIC_KEY=pk_test_123456
VITE_STRIPE_SECRET_KEY=sk_test_123456

# Live
#VITE_STRIPE_PUBLIC_KEY=pk_live_123456
#VITE_STRIPE_SECRET_KEY=sk_live_123456

# Google Analytics 4 Measurement ID (G-XXXXXXXXXX)
# Get the Measurement ID : analytics.google.com > Admin > Setup Assistant > Collect Web Site Data > Manage Data Streams
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Microsoft Clarity
VITE_CLARITY_PROJECT_ID=your-clarity-project-id


# MAUTIC
VITE_MAUTIC_URL = "https://mautic.hypnocaments.com:8443/"
VITE_MAUTIC_USERNAME = "admin"
# Pour les mots de passe contenant des caractères spéciaux (comme $, #, etc.),
# il est fortement recommandé de les entourer de guillemets simples (single quotes) dans votre fichier .env.local.
# Exemple : VITE_MAUTIC_PASSWORD='votreMotDePasseAvec$Signe'
# Si votre mot de passe est admin, vous pouvez utiliser : VITE_MAUTIC_PASSWORD='admin'
VITE_MAUTIC_PASSWORD = 'admin'


# STRIPE WEBHOOK SECRET (BACKEND ONLY!)
STRIPE_WEBHOOK_SECRET=toto
